{% extends 'base.html' %}

{% block header %}
{% block title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="login-bcg">
  <form id="log-form" method="post">



    <div class="container_auth">
          
      <div class="login">
          <h3 class="title">log in</h3>
          <div class="text-input">
              <input type="text" placeholder="Username" name="username" id="username" required>
          </div>
          <div class="text-input">
              
              <input type="password" placeholder="Password" name="password" id="password" required>
          </div>
          <input type="submit" class="login-btn" value="GO!">
          <a href="#" class="forgot">mot de passe oublié?<span style="color: #F9B0A7;"> clique ici!</span></a>
          <a href="{{ url_for('auth.register') }}" class="forgot">première visite? <span style="color: #3493A9;">inscris toi !</span> </a>
          <div class="create">    
          </div>
      </div>
  </div>

  </form>
</div>
{% endblock %}