{% extends 'base_prof.html' %}

{% block content %}
<script defer type="text/javascript" src="{{url_for('static', filename='js/random.js')}}"></script>
<script defer type="text/javascript" src="{{url_for('static', filename='js/search_student-training.js')}}"></script>

<div class="container_prof">
    <div class="find_equipe_big">
        <h1 style="color: #fdfdfd;margin-left: 5%;font-size:230%;margin-top: -3%;">Equipes:</h1>
        
        <div class="search-input_big">
            <input type="search" placeholder="chercher" id="search" data-search-big>
        </div>
        <div class="container_team_cards_big">
            {% for eleve in eleves %}
            <div class="teamCard_big2" teamid={{eleve.id_teams}}>
                <h2>{{eleve.first_name}}</h2>
                <h2>{{eleve.last_name}}</h2>
            </div>
            {% endfor %}
        </div>
     
        
    </div>


</div>


{% endblock %}
