{% extends 'base.html' %}

{% block content %}
<div style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
    <i class="Object" id="1">&#128128;</i>
    <i class="Object" id="2">&#128577;</i>
    <i class="Object" id="3">&#128528;</i>
    <i class="Object" id="4">&#128578;</i>
    <i class="Object" id="5">&#128513;</i> 
    <script>
        var objects = document.getElementsByClassName("Object");
        var i;
        var myfunction = function() {
            for (i = 0; i < objects.length; i++) {
                objects[i].classList.remove("Active");
            }
            this.classList.add("Active");
            /*A terminer, requete pour envoyer le resultat du sondage/*/
            /*g.user*/
            try{
            fetch("", {
                method: 'POST',
                headers:{'Content-Type': 'application/json'},
                body:JSON.stringify({
                    'date':new Date().getDate() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getFullYear(),
                    'satisfaction': this.id
                })
            })}catch(error){console.log(error)}
        };
        for (i = 0; i < objects.length; i++) {
            objects[i].addEventListener('click', myfunction, false);
        }

    </script>
</div>
<style>
    .Object {
        font-size: 50px;
        font-style: normal;
        padding: 2px 7px;
        margin: 10px;
        cursor: pointer;
    }

    .Active {
        background-color: pink;
        border-radius: 50%;
    }
</style>
{% endblock %}