{% extends 'base.html' %}


{% block content %}

    <body class="body_profil">
      <form method="post"> 
        <div class="container_index_profil">
          <h2 class="titre_profil">Mon profile</h2>
            
              <h3 for="username">Username: </h3>
              <div class="text-input-profile">
                  
                  <input type="text" placeholder="{{g.user.username}}" name="username" id="username" required>
              </div>
              <h3 for="first_name">First name: </h3>
              <div class="text-input-profile">
                  
                  <input type="text" placeholder="{{g.user.first_name}}" name="first_name" id="first_name" required>
              </div>
              <h3 for="last_name">Last name: </h3>
              <div class="text-input-profile">
                  
                  <input type="text" placeholder="{{g.user.last_name}}" name="last_name" id="last_name" required>
              </div>
            
        </div>
      </form>
    </body>
{% endblock %}