@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600&display=swap');

/**/


body{
    font-family: 'Inter', sans-serif;   
    background-image: radial-gradient(circle, #fed032, #ffc259, #ffb97c, #ffb59a, #ffb7b2, #febcc9, #f6c3de, #ebcced, #d9d9fb, #cce4fd, #ccedf8, #d7f3f2);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav_prof a {
    color: #6f6f6f;
}



.nav_prof{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    background-color: #FDFDFD;
    height: 98vh;
    margin-left: 1vh;
    width: 20vw;
}
 

.nav_link{
    flex-direction: column;
    display: flex;
    padding: 20px;
    height: 40%;
    justify-content: space-around;
}

.container_prof{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 98vh;
    margin-right: 1vh;
    width: 77vw;

}

.find_equipe{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    height: 98vh;
    width: 46vw;
    order: 1;
    flex-direction: column;
}

.equipe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    background-color: #FDFDFD;
    height: 98vh;
    width: 30vw;
    order: 2;
}

#user{
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px #6f6f6f solid;
    margin-left: 5%;
}

.user_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 10%;
}

#petit-carre1{
    width: 12px;
    height: 12px;
    border-radius: 30%;
    background-color: #b4ecea;
    margin-left: 10%;
    margin-right: 5%;

}

#petit-carre2{
    width: 12px;
    height: 12px;
    border-radius: 30%;
    background-color: #fed032;
    margin-left: 10%;
    margin-right: 5%;

}

#petit-carre3{
    width: 12px;
    height: 12px;
    border-radius: 30%;
    background-color: #febcc9;
    margin-left: 10%;
    margin-right: 5%;
}   

#petit-carre4{
    width: 12px;
    height: 12px;
    border-radius: 30%;
    background-color: #e4b3e7;
    margin-left: 10%;
    margin-right: 5%;
}  

#petit-carre5{
    width: 12px;
    height: 12px;
    border-radius: 30%;
    background-color: #ffb97c;
    margin-left: 10%;
    margin-right: 5%;
}  

.action_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #6f6f6f solid;
    height: 5vh;
    width: 84%;
    margin-left: 8%;
    
}

.alignement_nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.alignement_nav:hover {
    color: #fdd0de;
}

@media screen and (max-width: 800px) {
    .nav_prof {
      display: none;
    }
    .container_prof{
        width: 98vw;
        position: absolute;
    }
    }  

.search-input {
    background: #FDFDFD;
    height: 55px;
    display: flex;
    width: 45%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 7%;
}

.search-input input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}


.search-input ::placeholder {
    color: #9a9a9a;
}

.container_team_cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 70%;
    margin-top: 5%;
    overflow-y: scroll;
}

.teamCard{
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    width: 80%;
    background-color: #FDFDFD;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.teamCard h2 {
    margin-left: 3%;
    font-size: 170%;
    color: #6f6f6f;
}


.container_student_cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 5%;
}

.studentCard{
    height: 15%;
    width: 80%;
    background-color: #FDFDFD;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 2%);
}

.studentCard h2 {
    margin-left: 5%;
    font-size: 170%;
    
}

.search-input-student {
    position: relative;
    overflow: hidden;
    background: none;
    height: 45px;
    display: flex;
    width: 55%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 7%;
    margin-top: 7%;
}

.search-input-student input {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.search-input-student ::placeholder {
    position: absolute;
    color: #fdfdfd;
}

.gradient{
    transform: translate(-70%,42%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: radial-gradient(circle, #fed032, #ffc259, #ffb97c, #ffb59a, #ffb7b2, #febcc9, #f6c3de, #ebcced, #d9d9fb, #cce4fd, #ccedf8, #d7f3f2);
}


.container_team_cards_big{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60%;
    width: 100%;
    margin-top: 5%;

}

.find_equipe_big{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    height: 80vh;
    width: 75vw;
    order: 1;
    flex-direction: column;
}
.search-input_big {
    background: #FDFDFD;
    height: 55px;
    display: flex;
    width: 30%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 7%;

}


.search-input_big input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.teamCard_big{
    height: 30%;
    width: 80%;
    background-color: #FDFDFD;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20%;
}

.teamCard_big h2 {
    margin-left: 5%;
    font-size: 170%;
    color: #6f6f6f;
}

.container_team_cards {
    scrollbar-color: pink rgba(255, 105, 180, 0);
  }

.container_team_cards::-webkit-scrollbar {
width: 10px;
height: 10px; 
}
.container_team_cards::-webkit-scrollbar-thumb { 
background: pink;
}
.container_team_cards::-webkit-scrollbar-track { 
background: none;
}

.activeTeam h2{
    color: pink;
}



.activeTeam_big h2 {

    color: pink;
}

.container_add{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
    height: 98vh;
    margin-right: 1vh;
    width: 77vw;

}

.add_teams{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 85%;
    width: 100%;

}

.container_white{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fdfdfd91;
    width: 80%;
    height: 80%;
    margin-bottom: 7%;
    margin-right: 7%;
    border-radius: 15px;
}

.mod_team{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #6f6f6f;
    border-bottom: 2px #6f6f6f solid;
    height: 15%;
    width: 90%;
    
}

.name_team{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #6f6f6f;
    border-bottom: 2px #6f6f6f solid;
    height: 17%;
    width: 90%;
    
}

.sport_team{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #6f6f6f;
    border-bottom: 2px #6f6f6f solid;
    height: 48%;
    width: 90%;
    
}

.button_space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 90%;
    
}

.add_name{
    background: #FDFDFD;
    height: 55px;
    display: flex;
    width: 30%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 3%;
    margin-top: 7px;
}

.add_name input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    font-size: 100%;
}

.add_sport{
    background: #FDFDFD;
    height: 55px;
    display: flex;
    width: 30%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin-left: 3%;
    margin-top: 7px;
}


.add_sport input{
    background: none;
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    margin-left: 10px;
    font-size: 100%;
}

.terminer_equipe{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    width: 15%;
    margin-top: 7px;
    
}

.finished-link{
    display: inline-block;
    background-color: #ffc0cb;
    font-size: 150%;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 130%;
    height: 100%;
    font-size: 100%;
    color: #fdfdfd;
    cursor: pointer;
    
}

.finished-btn{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febcc9;
  font-size: 12px;
  border-radius: 15px;
  border: none;
  outline: none;
  width: 80%;
  height: 90%;
  font-size: 100%;
  color: #fdfdfd;
  cursor: pointer;
  margin-right: 2%;
}

.finished-btn:hover{
    background-color: #fdfdfd;
    color: pink;
}

.back-link{
    color: #fdfdfd;
}

.back-link:hover{
    color: pink;
}

.high_part{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.body_profil{
    
    height: 100vh;
    /*background-image: linear-gradient(to right top, #d7f3f2, #bdebf8, #afe0ff, #b7d0ff, #d3bbff, #e8aeec, #f8a3d3, #ff9bb7, #ffa2a3, #ffae8d, #ffc07c, #ffd372);*/
    background-image: radial-gradient(circle, #fed032, #ffc259, #ffb97c, #ffb59a, #ffb7b2, #febcc9, #f6c3de, #ebcced, #d9d9fb, #cce4fd, #ccedf8, #d7f3f2);
}

.titre_profil{
    font-size: 40px;
    font-weight: 800;
    margin:  30px; 
}

.container_index_profil {
    margin-left: 10vh;
    margin-top: 3vh;
    width: 45vw;
    height: 55vh;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
}

ul, li {
    list-style: none;
    padding: 20px;
}

.container_rose {
    display: flex;
    gap: 1vh;
    margin-left: 7%;
    width: 65vw;
    height: 60%;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background: #fdfdfd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
}


.container_1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fdd6e2;
    width: 20%;
    height: 100%;
    border-radius: 20px;
}
.container_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
    width: 20%;
    height: 100%;
    border-radius: 20px;
}
.container_3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fdd6e2;
    width: 100%;
    height: 49%;
    border-radius: 20px;
    overflow-y: auto;
}

.under_portion{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 88%;
    height: 10%;

}

.change-page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdd6e2;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 20%;
    height: 80%;
    font-size: 100%;
    color: #fdfdfd;
    cursor: pointer;
    margin-right: 2%;
    
}

.change-page-button:hover{
    border: 2px solid #fdfdfd;
}

.change-page-button a{
    color: #fdfdfd;
}

.teamCard_big2{
    height: 50%;
    width: 80%;
    background-color: #FDFDFD;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20%;
}

.validation-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 10%;
    height: 80%;
    font-size: 100%;
    color: #fdd6e2;
    cursor: pointer;
    margin-right: 2%;
}

.validation-button:hover{
    border: 2px solid #fdd6e2;
}

.high_part2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 20%;
    margin-top: -5%;
    margin-left: 3%;
}

/*on verra*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-input {
    width: 100%;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 3px solid #fdfdfd;
    border-radius: 15px;
    color: #4f4f4f;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.todo-input::placeholder {
  color: #fdfdfd;
}



.empty-image {
  margin: 55px auto 0;
  display: block;
}

.todo {
    color: #e4b3e7;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 12px;
    border: 3px solid #fdfdfd;
    transition: all 0.2s ease;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo:hover {
  background-color:transparent;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

span::before {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -30px;
    border-radius: 100px;
    border: 2px solid #ffffffa1;
}


.todo:hover span::before {
  border-color: #eee;
}

.todo .delete-btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fdfdfd;
  font-size: 24px;
}

.todos-container  {
  height: 300px;
  overflow: overlay;
}

.todos-container::-webkit-scrollbar-track  {
  background: #fdfdfd;
  border-radius: 20px
}

.todos-container::-webkit-scrollbar  {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar  {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb  {
  background: #d7a6d0;
  border-radius: 20px;
}



.delete-all {
  display: flex;
  color: #f99d7c;
  font-size: small;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 4px;
  margin-top: -27px;
  border-radius: 10px;


}

.delete-all:hover {
    color:#e59898 ;
}

.spin-step {
    background-color: #FDFDFD;
    border-radius: 15%;
}


.checkbox-stsq {
  padding: 7px;
  color: #fdfdfd;
}

.dropdown_menu {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 55%;
    margin-left: 5%;
    margin-top: 1%;
    background-color: #fdd6e2;
    border-radius: 10px;
    border-color: transparent;
    color: #FDFDFD;
    border: 3px solid #fdfdfd;


}

option {
    color: #fdfdfd;
    background-color: #fdd6e2;
    font-size: 15px;
    border-radius: 30px;
    border-color: transparent;
    color: #FDFDFD;
    border: 3px solid #fdfdfd;
}


.selected {
    background-color:#febcc9;
}

.hide{
    display: none;
}
