
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600&display=swap');




*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;    
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #d7f3f2;
}

/*auth*/

.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 6px;
    padding-right: 60px;
    border-radius: 8px;
    margin-left: 55px;
    margin-right:auto;
}

.auth {
    font-family: 'Inter', sans-serif;    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7f3f2;
 
}

.container_auth {
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background: white;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
}

.design {
    grid-area: design;
    display: none;
    position: relative;
}

.login {
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
}

.login h3.title {
    margin: 15px 0;
}

.text-input {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    width: 60%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin: 5px 0;
}

.text-input input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.text-input i {
    color: #d52020;
}

::placeholder {
    color: #9a9a9a;
}

.login-btn {
    width: 68%;
    padding: 10px;
    color: #3493A9;
    background-color: #FFD372;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
}

a {
    font-size: 12px;
    color: #9a9a9a;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

a.forgot {
    margin-top: 15px;
}

.create {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 45px;
}

.create i {
    color: #9a9a9a;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .container_auth {
        grid-template-columns: 50% 50%;
        grid-template-areas: "design login";
    }

    .design {
        display: block;
    }
}

ul,li{
    list-style: none;
    padding: 20px;

}

/*index*/

.container_index {
    margin-left: 10vh;
    margin-top: 3vh;
    width: 75vw;
    height: 80vh;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
}

@media screen and (max-width: 900px) {
    .container_index {
        margin-left: 0vh;
        margin-top: 3vh;
        width: 75vw;
        height: 80vh;
        box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
        border-radius: 20px;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        
    }
    }
    
.container_rose {
    display: flex;
    gap: 1vh;
    margin-left: 1vh;
    margin-top: 2vh;
    width: 65vw;
    height: 40vh;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background: #FBBECA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
}


.container_1{
    background-color: #FFA1B4;
    width: 30vw;
    height: 40vh;
    border-radius: 20px;
}
.padding_date{
    font-size: larger;
    margin-left: 20%;
    margin-top: 1vh;

}

.texte_index_container{
    line-height: 50px;
    font-size: larger;

}

/*nav*/
#sidenav{
    order:1;
    width:15vh;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    padding: 30px 15px;

}

@media screen and (max-width: 900px) {
    #sidenav {
      display: none;
    }
    }   

#user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    padding: 6px;
    padding-right: 60px;
    border-radius: 8px;
    margin-left: auto;
    margin-right:auto;
    background-color: rgba(215, 243, 242, 0.205);
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);

}


.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}


.user_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}


/*profil*/

.body_profil{
    
    height: 100vh;
    background-image: linear-gradient(to right top, #d7f3f2, #bdebf8, #afe0ff, #b7d0ff, #d3bbff, #e8aeec, #f8a3d3, #ff9bb7, #ffa2a3, #ffae8d, #ffc07c, #ffd372);
}

.titre_profil{
    font-size: 40px;
    font-weight: 800;
    margin:  30px; 
}

.container_index_profil {
    margin-left: 10vh;
    margin-top: 3vh;
    width: 25vw;
    height: 55vh;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
}

/*prof*/

.container_index {
    margin-right: 0%;
    width: 75vw;
    height: 80vh;
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 5%);
    border-radius: 20px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
}

.body_prof{
    height: 100vh;
    background-color: #FDFDFD;
}


