<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
</head>

<body>
    {% if g.user %}
        <nav>
            <ul>
            
             <div id="sidenav">
                <div id="user">
                    <img src="{{ url_for('static', filename='img/user_.png') }}" class="user_img">
                    <div>
                        <li><a href="{{url_for('user.show_profile')}}"><h2 style="color: black;">{{ g.user['username'] }}</h2></a></li>
                    </div>
                </div>
                <div>
                    <ul>
                        <li><a href="{{url_for('home.landing_page')}}" style="color: black;"><p class="side-nav-text">Profile</p></li>
                        <li><a href="{{url_for('home.prof')}}" style="color: black;"><p class="side-nav-text">bibliothèque</p></a></li>
                          
                    </ul>
                    <ul>
                        <li><a href="/auth/logout" style="color: black;"><p>Log Out</p></a>
                    </ul>
                </div>
            </div>

            
            </ul>
        </nav>
    {% else %}
            
    {% endif %}

    <section class="content">
       
        
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </section>

    <script defer type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    <script defer type="text/javascript" src="{{url_for('static', filename='js/happiness.js')}}"></script>
</body>

</html>